* {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
}
body {
     display: flex;
     padding: 100px 0;
     justify-content: center;
     height: 100vh;
}
.form {
     width: 100%;
     max-width: 900px;
     display: flex;
     padding: 40px;
     gap: 40px;
     flex-direction: column;
}
#addList {
     padding: 12px 34px;
     border: none;
     background-color: rgb(162, 255, 0);
     color: #9e9393;
     font-size: 18px;
     border-radius: 5px;
     outline: none;
}
#form {
     display: flex;
     flex-direction: column;
     display: none;
}
#hours {
     padding: 6px 30px;
     outline: none;
     border: none;
     border-radius: 30px;
     background-color: transparent;
     border: 3px solid #000000;
     font-size: 20px;
}
#form label {
     margin-bottom: 10px;
     font-size: 24px;
     font-weight: 600;
     color: #000;
}
.alarms {
     margin: 30px;
     padding: 20px;
     background-color: gray;
     border-radius: 5px;
     color: #fff;
}
#confirm {
     padding: 12px 34px;
     background-color: rgb(225, 255, 0);
     border: none;
     border-radius: 5px;
     color: #fff;
     font-size: 18px;
     margin-top: 30px;
}
.show {
     display: flex !important;
}
.change{
     background-color: white;
     color: red;
}